
.main{
    width: 1050px;
    margin: 0 auto;
    margin-top: 45px;
    height: auto;
}
.main-right{
    width: 276px;
    float: right;
    background-color: #FFF;
    height: auto;
}
.main-right > img{
    width: 276px;
    height: auto;
}

.main-right > ul{
    height: auto;
}
.main-right > ul> li {
    margin: 25px auto;
}
.main-right > ul> li > a {
    display: block;
}
.main-right > ul> li > a > img{
    width: 276px;
    height: 110px;
}


/*
    文章内容
*/
.main-left{
    width: 680px;
    background-color: #FFF;
    height: auto;
}

.main-left .article > h1{
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
}

.main-left .article > h3{
    color: #777777;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}
.main-left .article > p{
    line-height: 30px;
    font-size: 20px;
    margin: 10px 0px;
}


.main-left .article-jump{
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 0 2.5%;
    margin-bottom: 100px;
}
.main-left .article-jump #jump-up{
    width: 180px;
    height: 100px;
    margin: 10px 10px;
    float: left;
}
.main-left .article-jump #jump-up a{
    display: block;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
    color: #5A5A5A;
    //border: 2px solid #5A5A5A;
    box-shadow: 3px 3px 5px #EEEEEE;
}
.main-left .article-jump #jump-down{
    width: 180px;
    height: 100px;
    margin: 10px 10px;
    float: right;
}
.main-left .article-jump #jump-down a{
    display: block;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
    color: #5A5A5A;
    //border: 2px solid #5A5A5A;
    box-shadow: 3px 3px 5px #EEEEEE;
}
//
