.ad-top{
    width: 100%;
    height: 110px;
    background-color: #F7F7F7;
}
.ad-top img{
    width: 1000px;
    height: 90px;
    margin: 10px 10px;
}
.content {
    width: 100%;
}
.content .subnav{
    display: block;
    width: 95%;
    height: auto;
    padding: 10px 2.5%;
}
.content .subnav p{
    display: block;
    width: 95
    %;
    height: 50px;
    padding: 10px 2.5%;
    color: #777576;
    background-color: #F7F7F7;
    font-size: 2em;
}
.content .subnav p a{
    color: #777576;
    font-weight: bold;
}
.content .subnav p #p-right{
    display:block;
    float: right;
}


.course {
    width: 100%;
}
.course li{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 40px 0;
}
.course li .character {
    display: block;
    margin: auto;
    width: 80%;
    height: 325px;
    overflow: hidden;
}
.course li .character .character-left{
    margin: 100px 0px;
    height: 125px;
    width: 70%;
    float: left;
}
.course li .character .character-left h2{
    text-align: center;
    line-height: 40px;
    display: block;
    font-size: 50px;
    color: #333333;
}
.course li .character .character-left p{
    margin: 20px auto;
    text-align: center;
    line-height: 30px;
    display: block;
    font-size: 30px;
    color: #626262;
}
.course .character img{
    width: 30%;
    height: 325px;
    float: left;
}
.course li .course-link{
    display: block;
    margin: 20px auto;
    width: 80%;
    font-size: 30px;
    text-decoration: underline;
    color: #333333;
    overflow: hidden;
}
.content .ad-bottom{
    width: 100%;
    height: 110px;
    background-color: #F7F7F7;
}
.content .ad-bottom img{
    width: 1000px;
    height: 90px;
    margin: 10px 10px;
}
